body {
  background: #000;
  font-family: Verdana, sans-serif;

}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#screen {
  position: relative;
  margin: 50px auto;
  border: 1px dashed #666;
  width: 800px;
  height: 480px;
}

#world {
  display: block;
}

#menu {
  display: none;
  width: 100%;
  position: absolute; bottom: 40px;
  text-align: center;
}

.room {
  display: inline-block;
  width: 80px; height: 80px;
  color: #666;
  margin: 0 10px;
  border: 1px solid #666;
  border-radius: 3px;
}

.room h2 { font-size: 10px; margin: 7px 0; }
.room h3 { font-size: 15px; margin: 12px 0; }

.room:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

#chaty {
  display: none;
  position: absolute; bottom: -30px;
  background-color: transparent;
  font: 10px Consolas, monospace;
  color: #666;
  width: 780px;
  padding: 5px 10px;
  border: none;
}

#chaty:focus {
  color: #fff;
  border-bottom: solid 1px #fff;
  outline: none;
}
